

    <div class="container">
    <nav class="navbar navbar-dark  fixed-top" aria-label="Dark offcanvas navbar">
      <div class="container">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbarDark" aria-controls="offcanvasNavbarDark" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end " tabindex="-1" id="offcanvasNavbarDark" aria-labelledby="offcanvasNavbarDarkLabel">
          <div class="offcanvas-header">
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">HOME</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#about">ABOUT ME</a>
              </li>
            
              <li class="nav-item">
                <a class="nav-link" href="#resume">EXPERIENCE</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#portfolio">PORTFOLIO</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#contact">CONTACT ME</a>
              </li>
            </ul>
     
          </div>
        </div>
      </div>
    </nav>
</div>

<section id="home">
  
    <div class="container d-flex justify-content-start ">
        <div class="row">
            <div class="my-wrapper">
                
                <div class="welcome-box">
                    <h3>Welcome.</h3>
                </div>
                <div class="name-box">
                    <h1>My name is  <span> Akoth PERIS.</span></h1>
                </div>
                <div class="line"></div>

                <div class="d-flex align-items-center mb-2 ms-3">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-inbound-fill text-white" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877zM15.854.146a.5.5 0 0 1 0 .708L11.707 5H14.5a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5v-4a.5.5 0 0 1 1 0v2.793L15.146.146a.5.5 0 0 1 .708 0"/>
                    </svg>
                    <p class="text-light mb-0 ms-2" (click)="copyToClipboard(phoneNumber)">+254 719 724 004</p>
                </div>
                
                <div class="d-flex align-items-center ms-3">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-at text-white" viewBox="0 0 16 16">
                        <path d="M2 2a2 2 0 0 0-2 2v8.01A2 2 0 0 0 2 14h5.5a.5.5 0 0 0 0-1H2a1 1 0 0 1-.966-.741l5.64-3.471L8 9.583l7-4.2V8.5a.5.5 0 0 0 1 0V4a2 2 0 0 0-2-2zm3.708 6.208L1 11.105V5.383zM1 4.217V4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v.217l-7 4.2z"/>
                        <path d="M14.247 14.269c1.01 0 1.587-.857 1.587-2.025v-.21C15.834 10.43 14.64 9 12.52 9h-.035C10.42 9 9 10.36 9 12.432v.214C9 14.82 10.438 16 12.358 16h.044c.594 0 1.018-.074 1.237-.175v-.73c-.245.11-.673.18-1.18.18h-.044c-1.334 0-2.571-.788-2.571-2.655v-.157c0-1.657 1.058-2.724 2.64-2.724h.04c1.535 0 2.484 1.05 2.484 2.326v.118c0 .975-.324 1.39-.639 1.39-.232 0-.41-.148-.41-.42v-2.19h-.906v.569h-.03c-.084-.298-.368-.63-.954-.63-.778 0-1.259.555-1.259 1.4v.528c0 .892.49 1.434 1.26 1.434.471 0 .896-.227 1.014-.643h.043c.118.42.617.648 1.12.648m-2.453-1.588v-.227c0-.546.227-.791.573-.791.297 0 .572.192.572.708v.367c0 .573-.253.744-.564.744-.354 0-.581-.215-.581-.8Z"/>
                    </svg>
                    <a href="mailto:joyperis11@gmail.com" class="text-light ms-2 mb-0" target="_blank" rel="noopener noreferrer">joyperis11&#64;gmail.com</a>
                </div>
                
                
            </div>
           
        </div>
     
    </div>
    <div class="copy-right">
     <div class="container ">
        <h6 >Peris ©2024</h6>
      </div>
    </div>

</section>
          <!-- =================================********================================= -->
          <section id="about">
              <div class="container">
                  <div class="row">
                      <div class="wrapper">
                          <div class="left-wrapper">
                              <div class="content">
                                  <div class="title">
                                    <h4>ABOUT ME</h4>
                                      <h2>MY MISSION IS TO <span>DESIGN & DEVELOP</span>
                                      THE BEST WEBSITES AROUND</h2>
                                      <p>I am a passionate Frontend Developer with a focus on Angular framework and skilled at crafting
                                          engaging and responsive web applications, proficient at translating design concepts into efficient,
                                          high-quality code taking advantage of Angular's robust features and best practices. Skilled in the
                                          creation of dynamic user interfaces, optimizing application performance, and ensuring cross-browser
                                          compatibility while collaborating with agile teams to deliver seamless, user-centric experiences.
                                          Committed to staying abreast of emerging technologies and frameworks to continually elevate
                                          development standards.</p>
                                          <h4 class="mb-3 mt-3">ARSENAL</h4>
                     
                                          <ul class="menu d-flex flex-wrap">
                                            <li class="mb-2">HTML</li>
                                            <li class="mb-2">CSS</li>
                                            <li class="mb-2">Javascript</li>
                                            <li class="mb-2">Java</li>
                                           </ul>
                                       <ul class="menu mt-3 d-flex flex-wrap">
                                          <li class="mb-2">Angular</li>
                                          <li class="mb-2">Spring Boot</li>
                                       </ul>
                                  </div>

                              
                     
                              </div>
                          </div>
                          
                          <div class="inter">
                              <h6>WHAT I DO</h6>
                          </div>
                      </div>
                  </div>
              </div>
          </section>

              <!-- =================================********================================= -->
              <section id="portfolio">
                <div class="container">
                    <div class="row">
                        <div class="my-wrapper">
                            <div class="wrapper-box">
                                <div class="content">
                                  
                                        <div class="title text-white">
                                          <h6>WHAT I HAVE DONE</h6>
                                          </div>
                                    <div class="tab-content" id="myTabContent">
                                        <!-- ------------***----------- -->
                                        <div class="tab-pane fade show active" id="free" role="tabpanel" aria-labelledby="free-template">
                                            <div class="content-list">
                                                <ol class=" d-flex justify-content-center">
                                                    <li>
                                                        <div class="_ok-vd_zs">
                                                            <figure>
                                                                <img src="assets/images/abt/img1.png" class="img-fluid" style="height: 20vh; width: 100%;">
                                                                <div class="inner-content">
                                                                    <a href="https://www.myecoloop.com/"  target="_blank" rel="noopener noreferrer">Live Preview</a>
                                                                </div>
                                                            </figure>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="_ok-vd_zs">
                                                            <figure>
                                                                <img src="assets/images/abt/img2.png" style="height: 20vh;width: 100%;">
                                                                <div class="inner-content">
                                                                    <a href="https://www.muabatech.com/"  target="_blank" rel="noopener noreferrer">Live Preview</a>
                                                                </div>
                                                            </figure>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="_ok-vd_zs">
                                                            <figure>
                                                                <img src="assets/images/abt/img3.png" style="height: 20vh; width: 100%;">
                                                                <div class="inner-content">
                                                                    <a href="https://www.imagicsolutions.net/"  target="_blank" rel="noopener noreferrer">Live Preview</a>
                                                                </div>
                                                            </figure>
                                                        </div>
                                                    </li>
                                                
                                                </ol>
                                            </div>
                                        </div>
                                        <!-- ------------***----------- -->
                 
                                </div>
                            </div>
                            <div class="inter">
                                <h6>Portfolio</h6>
                            </div>
                        </div>
                    </div>
                </div>
          
        </div>
        </section>
          <!-- =================================********================================= -->
          <section id="resume">
              <div class="container" >
                  <div class="row">
                      <div class="my-wrapper">
                          <div class="left-wrapper">
                              <div class="content">
                                  <div class="head">
                                      <h2>Experience</h2>
                                  </div>
                                  <div class="list-inner">
                                    <ol>
                                        <li>
                                            <h4>Ezra.world</h4>
                                            <h6>Operations Support Engineer</h6>
                                            <span>February 2024 to Present</span>
                                        
                                            <p>*  Provide first and second-level support for key financial systems and
                                            applications, ensuring uptime and performance of services used by
                                            customers.</p>
                                            <p>* Monitor system performance and transaction workflows using real-time
                                            monitoring tools, identifying and responding to anomalies before they
                                            impact business processes.</p>
                                            <p>* Act as the main point of contact for internal stakeholders and external
                                            clients, managing escalations, resolving issues, and providing timely
                                            updates on service status.</p>
                                            <p>* Perform root cause analysis on operational incidents, implementing
                                            corrective actions to prevent recurrence.</p>
                                            <p>* Collaborate with IT, engineering, and security teams to deploy updates,
                                            patches, and security fixes, ensuring systems remain compliant with
                                            fintech regulations.</p>
                                            <p>* Utilize scripting to automate routine tasks, improving system monitoring
                                            efficiency and reducing manual intervention time.</p>
                                        </li>
                                        <li>
                                            <h4>Ezra.world</h4>
                                            <h6>Service Management Center Technician </h6>
                                            <span>December 2022 to January 2024</span>
                                            <p>* Monitoring markets</p>
                                            <p>* Capturing all incidents and logging them on the ticketing platform</p>
                                            <p>* Rapid analysis of the incident; conducting basic troubleshooting and
                                            sharing findings within the ticket raised</p>
                                            <p>* Ensuring the Service Level Agreement is maintained in accordance to the
                                            contractual agreement</p>
                                            <p>* Managing communication between key stakeholders, both internal and
                                            external</p>
                                        </li>
                                        <li>
                                            <h4>Kenya Medical Research Institute</h4>
                                            <h6>IT Intern </h6>
                                            <span>April 2021 to March 2022</span>
                                            <p>* Responded to user requests for service and troubleshooting IT related
                                            problems.</p>
                                            <p>* Answering calls and e-mails regarding the computer network or
                                            communication systems</p>
                                            <p>* Support PC hardware components, desktop operating system software,
                                            and application software.</p>
                                        </li>
                                        <li>
                                            <h4>Del Monte Kenya Limited</h4>
                                            <h6>IT Attachee </h6>
                                            <span>January 2019 to April 2019</span>
                                            <p>* Development of a leave management system for planning for future
                                            leaves, applying for leaves and managing leaves using JavaFX</p>
                                            <p>* Responded to user requests for service, troubleshooting IT related
                                            problems.</p>
                                            <p>* Support PC hardware components, desktop operating system software,
                                            and application software.</p>
                                            <p>* Perform minor repairs to equipment and arrange for other servicing
                                            needs.</p>
                                            <p>* Support the IT team in the maintenance of hardware and software
                                            systems.</p>
                                            <p>* Troubleshoot issues with equipment like printers, computers. Run
                                            software updates backups when requested.</p>
                                            <p>* Assisted in performing hardware and software installation procedures</p>
                                            <p>* Document all processes in reference manuals for the purpose of training
                                            and guidance</p>
                                            <p>* Assisted in hardware and software inventory management</p>
                                        </li>
                                    </ol>
                                </div>
                              </div>
                          </div>
                      
                          <div class="inter">
                              <h6>RESUME</h6>
                          </div>
                      </div>
                  </div>
              </div>
          </section>
        
      